body {
  font-family: "Roboto", sans-serif;
}

/* Common */

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  color: #f9faf8;

  font-size: 24px;
}

ul {
  color: #e5e7eb;
  font-size: 18px;
}

/* Header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
