body {
  font-family: "Roboto", sans-serif;
}

/* Common */

body,
.info h2,
p {
  margin: 0;
}

body {
  padding: 0;
}

.header,
.hero {
  background-color: #1f2937;
}

.info button {
  background-color: #3882f6;
}

.header,
h2 {
  color: #f9faf8;
}

ul,
.hero p {
  color: #e5e7eb;
}

.hero,
.info button {
  color: white;
}

h3 {
  color: #1f2937;
  font-size: 36px;
}

.header {
  font-size: 24px;
}

ul,
.hero p {
  font-size: 18px;
}

h2,
h3 {
  font-weight: 800;
}

.info button {
  font-weight: bold;
}

/* Header section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* Hero section */

.hero {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 100px 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

h2 {
  font-size: 48px;
}

.info button {
  align-self: flex-start;
  padding: 8px 32px;
  border-radius: 8px;
}

.hero img {
  max-width: 500px;
}

/* Services section */

.services {
  text-align: center;
  padding-bottom: 100px;
}

.cards,
.card {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  flex-direction: column;
  align-items: center;
}

.card img,
.card p {
  max-width: 120px;
}
.card img {
  border: 3px #3882f6 solid;
  border-radius: 8px;
  padding: 10px;
}
